@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Poppins-Light.woff2') format('woff2'),
       url('/fonts/Poppins-Light.woff') format('woff'),
       url('/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
       url('/fonts/Poppins-Regular.woff') format('woff'),
       url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Poppins-Medium.woff2') format('woff2'),
       url('/fonts/Poppins-Medium.woff') format('woff'),
       url('/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
       url('/fonts/Poppins-SemiBold.woff') format('woff'),
       url('/fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
       url('/fonts/Poppins-Bold.woff') format('woff'),
       url('/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Poppins-ExtraBold.woff2') format('woff2'),
       url('/fonts/Poppins-ExtraBold.woff') format('woff'),
       url('/fonts/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Poppins-Black.woff2') format('woff2'),
       url('/fonts/Poppins-Black.woff') format('woff'),
       url('/fonts/Poppins-Black.ttf') format('truetype');
}

:root {
    --font-family: 'Poppins', 'Samsung Sans', 'Mi Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

* {
    font-family: var(--font-family) !important;
}

body, html {
    font-family: var(--font-family) !important;
    font-weight: 600 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family) !important;
    font-weight: 800 !important;
}

p, span, div, a, li, td, th {
    font-family: var(--font-family) !important;
    font-weight: 600 !important;
}

.nav, .menu, .breadcrumbs {
    font-family: var(--font-family) !important;
    font-weight: 600 !important;
}

.post-title, .post-meta, .post-content {
    font-family: var(--font-family) !important;
    font-weight: 600 !important;
}

input, textarea, button, select {
    font-family: var(--font-family) !important;
    font-weight: 600 !important;
}

footer, .footer {
    font-family: var(--font-family) !important;
}

body {
    font-weight: 600 !important;
}

.post-title, h1 {
    font-weight: 800 !important;
}

.archive-posts, .post-entry {
    font-family: var(--font-family) !important;
}

.profile, .profile-title {
    font-family: var(--font-family) !important;
}

body:before {
    content: '';
    font-family: var(--font-family);
    font-weight: 300;
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

body:after {
    content: '';
    font-family: var(--font-family);
    font-weight: 700;
    position: absolute;
    left: -9999px;
    visibility: hidden;
}
